{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="mx-auto w-4/5 max-w-xl my-10">
    <img class="w-full"src="assets\images\form\image_form.png">
    <h1 class="text-titleBlue text-mobileXL sm:text-desktopXL my-6">Connexion</h1>
    <form class="mb-10" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="flex gap-3 my-6">
            <img src="\assets\images\form\email.svg"></img>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control w-full border-b border-mainBlue/50" placeholder="Email" autocomplete="email" required autofocus>
        </div>
        <div class="flex gap-3 my-6">
            <img src="\assets\images\form\mdp.svg"></img>
            <input type="password" name="password" id="inputPassword" class="form-control w-full border-b border-mainBlue/50" placeholder="Mot de passe" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <button class="bg-mainBlue rounded-lg py-1.5 w-full my-4" type="submit">
            Connexion
        </button>
    </form>
    <div>
        <h2 class="text-center"> Pas de compte?</h2>
        <a href="{{ path('app_register') }}" class="block text-center bg-mainBlue rounded-lg py-1.5 w-full my-4">
            S'inscrire
        </a>
    </div>
</div>
{% endblock %}
