{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="mx-auto w-4/5 max-w-xl my-10">
    <img class="w-full"src="assets\images\form\image_form.png">
    <h1 class="text-titleBlue text-mobileXL sm:text-desktopXL my-6">Inscription</h1>

    {{ form_start(registrationForm, {'attr': {'class': 'mb-10'}}) }}
        <div class="flex gap-3 my-6">
        <img src="\assets\images\form\email.svg"></img>
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control w-full border-b border-mainBlue/50', 'placeholder': 'Email', 'autocomplete': 'email', 'required': 'required', 'autofocus': 'autofocus'}}) }}
        </div>
        <div class="flex gap-3 my-6">
        <img src="\assets\images\form\mdp.svg"></img>
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control w-full border-b border-mainBlue/50', 'placeholder': 'Mot de passe', 'autocomplete': 'new-password', 'required': 'required'}}) }}
    </div>
        <div class="form-check mb-3">
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input', 'required': 'required'}}) }}
        {{ form_label(registrationForm.agreeTerms, 'Accepter les conditions d\'utilisation', {'label_attr': {'class': 'form-check-label'}}) }}
    </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="bg-mainBlue rounded-lg py-1.5 w-full my-4" type="submit">Register</button>
    {{ form_end(registrationForm) }}
    <div>
        <h2 class="text-center"> Déja un compte?</h2>
        <a href="{{ path('app_login') }}" class="block text-center bg-mainBlue rounded-lg py-1.5 w-full my-4">
            Se connecter
        </a>
    </div>
{% endblock %}
