{% extends 'base.html.twig' %}

{% block title %}Hello DomainController!{% endblock %}

{% block body %}
    <style>
        .box{
            box-shadow: 0px 2px 0px #3855FA;
        }
    </style>
    <section>
        <div class="flex items-center ml-[5vw] sm:ml-[15vw] xl:ml-[7vw] mb-[24px]">
            <a href="/"><i class="fa-solid fa-arrow-left text-[1.5rem] md:text-[32px]"></i></a>
            <h1 class="p-[1rem] ml-[2vw] sm:ml-[4vw] md:ml-[10vw] lg:ml-[2vw] xl:ml-[18vw] 2xl:ml-[21vw] min-[1670px]:ml-[24vw] text-titleBlue text-mobileLG lg:text-desktopXL">Les stations du domaine : {{ domain.name }}</h1>
        </div>
        <p class="flex justify-center text-mobileBase text-textColor mb-[32px] px-2 lg:text-desktopLG">Veuillez sélectionner une station</p>
        <div class="flex justify-center min-h-[60vh] md:min-h-[7vh]">
            <div class="grid grid-cols-1 min-[380px]:grid-cols-2 min-[1024px]:grid-cols-3 gap-[1rem] xl:gap-x-[40px] xl:gap-x-[80px] lg:gap-y-[48px]"> 
                {% for station in domain.stations %}
                    <div class="box rounded-[5px] bg-CustomWhite text-center w-[159px] h-[178px] lg:w-[288px] lg:h-[288px]"> 
                        <a href="{{ path('station_show', {'id': station.id}) }}" class="flex flex-col justify-center">
                            <div class="min-h-[155px] lg:min-h-[240px]"> 
                                <div class="flex justify-center mt-[10px] mb-[10px] lg:mt-[48px] lg:mb-[32px]">
                                    <img src="{{ station.imgUrl }}" alt="{{ station.name }}" class="object-cover w-[119px] h-[84px] lg:w-[180px] lg:h-[126px]">
                                </div>
                                <h2 class="text-textColor text-mobileBase mb-[1px] lg:text-desktopBase">{{ station.name }}</h2>
                            </div>
                            <p class="text-textColor text-mobileSM lg:text-desktopSM">Faq</p> </a>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
