{% extends 'base.html.twig' %}

{% block title %}Hello StationController!{% endblock %}

{% block body %}



    <h1>{{ station.name }}</h1>
    <h2 style="color: red">Les pistes :</h2>
    {% for slope in station.slopes %}
        <h2>{{ slope.name }}</h2>
        <p>{{ slope.description }}</p>
    {% endfor %}
    <h2 style="color: red">Les remontées :</h2>
    {% for lift in station.lifts %}
        <h2>{{ lift.name }}</h2>
        <p>{{ lift.description }}</p>
    {% endfor %}

{% endblock %}
